.contenedor {
	border: 2px;
	display: block;
    border: 2px solid #807D7D;
    width: 50%;

}
.yellow { 
	width: 100px;
	height: 100px;
	background-color: yellow;
	padding: 10px;

}
.blue {
	width: 100px;
	height: 100px;
	background-color: blue;
	padding: 10px;

}
.red{
	width: 100px;
	height: 100px;
	background-color: red;
	padding: 10px;

}
.blue, .yellow, .red {
	float: right;
}